@using Microsoft.AspNetCore.Identity
@using System.Collections.Generic;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--TODO: check if user is client or seller -->
    
    @if (SignInManager.IsSignedIn(User))
    {
        
        <!--TODO: make drop down for table:
 <table border ="2">
        <tr>
            <th>Merchant</th>
            <th>Active sales</th>
            <th>Start-End dates</th>
        </tr>
                                                   </table>-->
        
        <!--TODO: make a foreach merchant to print sales-->
    }
    else
    {
        <div class="card">
            <div class="card-header">
                Advertisement
            </div>
            <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                <a href="#" class="btn btn-primary">Lorem ipsum</a>
            </div>
        </div>

        <div class="card-columns mt-5" >
            <div class="card" >
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2014/02/01/18/01/money-256319_960_720.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        
            <div class="card" >
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/10/10/22/37/credit-card-1730085_960_720.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
      
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/05/31/20/39/online-marketing-1427787_960_720.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
      

    }

</div>
