@using Microsoft.AspNetCore.Identity
@using System.Collections.Generic
@using PostbankApp.Models
@inject SignInManager<PostbankUser> SignInManager
@inject UserManager<PostbankUser> UserManager
@model IEnumerable<PostbankApp.Models.Sale>

@{
    ViewData["Title"] = "Home Page";
    int counter = 0;
}


<div class="text-center">
    <!--TODO: check if user is client or seller -->

    @if (SignInManager.IsSignedIn(User))
    {
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Vendor name</th>
                <th scope="col">Sale in %</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
            </tr>
            </thead>
            <tbody>
                

            @foreach (var sale in Model)
            {
                counter++;
                <tr>
                    <th>counter</th>
                    <td>
                        @Html.DisplayFor(x => UserManager.FindByIdAsync(sale.SalerId).Result.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(x => sale.SaleValue)%
                    </td>
                    <td>
                        @Html.DisplayFor(x => sale.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(x => sale.EndDate)
                    </td>
                </tr>

            }
            
                
            </tbody>
        </table>

    }
    else
    {
        <div class="card">
            <div class="card-header">
                Advertisement
            </div>
            <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                <a href="#" class="btn btn-primary">Lorem ipsum</a>
            </div>
        </div>

        <div class="card-columns mt-5">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2014/02/01/18/01/money-256319_960_720.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/10/10/22/37/credit-card-1730085_960_720.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/05/31/20/39/online-marketing-1427787_960_720.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>


    }

</div>
