@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>Button</title>
    <link rel="stylesheet" href="site.css" />
</head>
<body>
    <button id="buttonOne" onclick="window.location.href = 'https://localhost:44361/Home/Privacy';">Login</button>
    <button id="buttonTwo">Register</button>
</body>
</html>