@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>PostBank</title>
</head>
<body style="background-color:burlywood">
    <button name="create_button" type="button" value="Create" autofocus onclick="window.location.href = 'https://localhost:44361/Login';" style="background-color: white; color: black; top: 20%; position: fixed;">
        <b>Create new sale</b>
    </button>
    <button name="open_existing_button" type="button" value="Open" autofocus onclick="window.location.href = 'https://localhost:44361/Login';" style="background-color: white; color: black; top: 25%; position: fixed; ">
        <b>Open existing sales</b>
    </button>
</body>
</html>