@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <title>PostBank</title>
</head>
    <head>
        <style>
            .btn-group .button {
                background-color:white;
                border: none;
                color: black;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                float: left;
            }

                .btn-group .button:hover {
                    background-color: gray;
                }
        </style>
    </head>
    <body style="background-color: burlywood">
        <label><b>Click on "Create new sale" to create a request for a new sale or click on "Open existing sales" to see your active sales</b></label>
        <br />
        <div class="btn-group">
            <button class="button">Create a new sale</button>
            <button class="button">Open existing sales</button>
        </div>
    </body>